body {
   
   
    background-image: url('https://wallpaperaccess.com/full/1317125.png'); 
    /* Add the path to your food cover image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

h2.masked-text {
    font-size: 3em;
    margin-bottom: 20px;
    color: #3ce7d9; /* Tomato red color */
    text-shadow: 2px 2px 4px rgba(196, 108, 108, 0.7);
    font-weight: bold;
}

p {
    font-size: 1.3em;
    margin-bottom: 20px;
    color: #6aeef3; /* Pumpkin orange color */
    text-shadow: 2px 2px 4px rgba(165, 98, 98, 0.7);
    line-height: 1.6;
}

.center {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-box {
    background: rgba(8, 8, 8, 0.6); /* Adding a semi-transparent background for better text visibility */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    background-color: #03b2c9; /* Yellow color for button */
    border: none;
    color: #fff;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adding shadow to the button */
}

button:hover {
    background-color: #5eddc2; /* Darker yellow on hover */
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}

button:active {
    background-color: #40b0f1;
}

#displayText {
    font-size: 1.4em;
    margin-top: 20px;
    color: #8eeee6; /* Mint green color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
